.nav-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      padding: 0 40px;
      max-width: var(--container);
      margin: 0 auto;
      color : red;
    } 

.logo {
  width: 200px;
  height: auto;
}